
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

header{
  background-color: #fff;
  width: 100%;
  height: 80px;
}

.ancho-menu{
  width: 80%;
  background-color: #fff;
  height: 80px;
  margin: auto;
}
header .logo-smartkey-menu {
  height: 70px;
  padding: 5px;
  float: left;
}

header .menu-top{
  height: 70px;
  float: left;
  background-color: #fff;
  text-align: right;
  width: 60%;
  padding-top: 30px;
  word-spacing: 15px;

}


header .menu-top a{
  font-family: 'Roboto', sans-serif;
  font-weight: 400px;
  font-style: none;
  color: #282828;
  text-decoration: none;
  background-color:#fff;
  box-sizing: border-box;
  
}

header .menu-top a:hover{
  color: rgb(170, 168, 168);
}

body{
  background-color: rgb(236, 233, 233);
}
  /* estilo de footer */
  footer {
    background-color: #4792AD;
    color: #fff;
    padding: 10px;
    text-align: center;
    
  }

.titulo-principal{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: black;
  text-align: center;
  padding-bottom: 10px;
}

div.banner-video{
  background-color: rgb(233, 233, 233);
  width:100%;
  height: 800px;
  padding: 40px 10px;
}

.video-youtube {
  display: block;
  margin: top 0;
  margin-left: 30%;
  margin-right: 30%;
}

.banner-video .telefono{
  width: 300px;
  margin-left: 30%;
  margin-right: 0%;
}

.banner-video .pulsera{
  width: 300px;
  margin-left: 0%;
  margin-right: 0%;
}

.ventajas-container{
  background-color: rgb(233, 233, 233);
  width: 100%;
  text-align: center;
  height: 400px;
 }

.ventajas-box{
 background-color: rgb(233, 233, 233);
 width: 100%;
 text-align: center;
 height: 50px;
}

.titulo-ventajas{
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  padding-top: 20px;
  padding-bottom: 30px;
}


.ventajas-box p{
  display: inline;
  padding: 30px;
}

.ventajas-box-dos{
  background-color: rgb(233, 233, 233);
  width: 100%;
  text-align: center;
  height: 50px;
 }

.ventajas-box-dos p{
  display: inline;
  padding: 30px;
}

.quote-container{
  width: 100%;
  height: 400px;
  background-color:#0A5567 ;
  color: #fff;
  text-transform: uppercase ;
}

.quote-box{
  margin:0% 30% 0% 30%;
}

.quote-title{
  font-size: 48px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  color: #fff;
  text-align: center;
  padding-top: 50px;
}

.quote-text{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  color: #fff; 
  text-align: center;
  padding-top: 10px;
}

footer div.menu-pie li a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 100px;
  font-style: none;
  color: #fff; 
}

footer div.menu-pie li{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 100px;
  font-style: none;
  color: #fff; 
  list-style: none
}

footer .redes-footer a img{
  width: 50px;
  height: 50px;
  padding: 5px;
}

footer .derechos-pie{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  color: #fff; 
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
}

p{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}


ul{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

/* test PARA MODIFICAR DESPUES */
.section-test{
  width: 100%;
  height: 600px;
}
